body {
    color: rgb(255, 255, 255);
    margin: 20px;
}

h1 {
    font-size: 2cm;
    margin-top: 10px;
    letter-spacing: 10px;
    margin-bottom: 15px;
}

div.popis {
    color: rgb(255, 255, 255);
    width: 60vw;
    line-height: 25px;
    font-size: 0.56cm;
    margin-top: -75px;
    margin-left: 10px;
}

div.akce {
    color: rgb(255, 255, 255);
    width: 20vw;
    margin-left: 900px;
    margin-top: -360px;
    height: 30vw;
    line-height: 25px;
}

div.pocasi {
    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 930px;
}

div.searchbar {
    margin-left: 890px;
    margin-top: -60px;
}

form {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 30px;
    border-radius: 5px;
    flex-direction: row;
}

input {
    all: unset;
    font: 15px system-ui;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 10px;

}

placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

button {
    cursor: pointer important !;
    all: unset;
    height: 30px;
    width: 70px;
}

img {
    top: -200px;
    left: 0 px;


}

div.piktogramy {
    filter: invert(1);

}


a {
    color: rgb(255, 255, 255);
}