h2 {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin-top: -40px;

}

h1 {
    font-size: 2cm;
    margin-top: 10px;
    letter-spacing: 10px;
    color: #fff;
    text-align: center;
}

img {
    display: flex;
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    width: 55%;
}

.pocasi {
    margin-left: 20px;
    position: absolute;
    left: 20px;
    top: 142px;


}

.pocasiimg {
    width: 233px;


}

form {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 30px;
    border-radius: 5px;
    flex-direction: row;
}

input {
    all: unset;
    font: 15px system-ui;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;

}

placeholder {
    color: #000;
    opacity: 0.7;
}

button {
    cursor: pointer !important;
    all: unset;
    height: 30px;
    width: 70px;
}

img#mapa {
    filter: drop-shadow(50px 23px 16px #000000cd);
}

.searchbar {
    margin-left: 930px;
    margin-top: 10px;
}

html {
    background: url(../img/praha1stin.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.container {position: relative;
    text-align: center;}

#tresnovka {position: absolute;
    top: 32.7%;
    left: 52.4%;}
img#tresnovkavelikost {width: 37px;
    height: auto;}

#stromovka {position: absolute;
    top: 25.3%;
    left: 41.43%;}
img#stromovkavelikost {width: 100px;
    height: auto;}

#riegovysady {position: absolute;
    top: 40%;
    left: 47%;}
img#riegovysadyvelikost {width: 13px;
    height: auto;}

#sarka {position: absolute;
    top: 15.5%;
    left: 31.15%;}
img#sarkavelikost {width: 150px;
    height: auto;}

#petrinskesady {position: absolute;
    top: 15.5%;
    left: 31.15%;}
img#petrinskesadyvelikost {width: 50px;
    height: auto;}